Windows Registry Editor Version 5.00

[HKEY_CURRENT_USER\SOFTWARE\SimonTatham\PuTTY\Sessions\Default%20Settings]
"SunkenEdge"=dword:00000000
"WindowBorder"=dword:00000004
"CurType"=dword:00000002
"BlinkCur"=dword:00000001
"Beep"=dword:00000003
"BeepInd"=dword:00000000
"BellWaveFile"="C:\\Users\\gobwarrior\\Documents\\Code\\perfectputty\\pop.wav"
"BellOverload"=dword:00000001
"BellOverloadN"=dword:00000005
"BellOverloadT"=dword:000007d0
"BellOverloadS"=dword:00001388
"ScrollbackLines"=dword:{{SCROLLBACK_LINES_HEX}}
"Font"="{{FONT_FAMILY}}"
"FontIsBold"=dword:00000000
"FontCharSet"=dword:00000000
"FontHeight"=dword:0000000c
"FontQuality"=dword:00000003
"FontVTMode"=dword:00000004
"UseSystemColours"=dword:00000000
"TryPalette"=dword:00000000
"ANSIColour"=dword:00000001
"Xterm256Colour"=dword:00000001
"BoldAsColour"=dword:00000002
"Colour0"="{{FOREGROUND_RGB}}"
"Colour1"="{{FOREGROUND_RGB}}"
"Colour2"="{{BACKGROUND_RGB}}"
"Colour3"="{{BACKGROUND_RGB}}"
"Colour4"="{{BLACK_RGB}}"
"Colour5"="{{BLACK_RGB}}"
"Colour6"="{{BLACK_RGB}}"
"Colour7"="{{BRIGHT_BLACK_RGB}}"
"Colour8"="{{RED_RGB}}"
"Colour9"="{{BRIGHT_RED_RGB}}"
"Colour10"="{{GREEN_RGB}}"
"Colour11"="{{BRIGHT_GREEN_RGB}}"
"Colour12"="{{YELLOW_RGB}}"
"Colour13"="{{BRIGHT_YELLOW_RGB}}"
"Colour14"="{{BLUE_RGB}}"
"Colour15"="{{BRIGHT_BLUE_RGB}}"
"Colour16"="{{PURPLE_RGB}}"
"Colour17"="{{BRIGHT_PURPLE_RGB}}"
"Colour18"="{{CYAN_RGB}}"
"Colour19"="{{BRIGHT_CYAN_RGB}}"
"Colour20"="{{WHITE_RGB}}"
"Colour21"="{{BRIGHT_WHITE_RGB}}"